h2 {
    padding-bottom: 0.2em;
    padding-left: 1em;
    font-family: Bradley Hand ITC;
    font: bold;
    font-size: 27pt;
}

.card-container {
    margin: auto;
    width: 10%;
    padding: 10px;
}